/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn {
    transition: all 300 ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s ease;
    display: flex;
    padding: 0 20px;
    left: 0;
    z-index: 100;


}

.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.logo:hover {
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181) ;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;

}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #89D497;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SLIDESHOW */

.slideshow {
    width: 100%;
    overflow: hidden;
    margin-top: 17vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: calc(100%-80px);
}

.slideshow img {
    width: 100%;
    height: 640px;
}

.slick-slide {
    transition: opacity 0.5 ease;
}

.slick-slide img {
    width: 100%;
}

.slider-dots {
    text-align: center;
}

.slider-dots li {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.slider-dots li.active {
    background-color: #333;
}

.slideshow.transparent-nav {
    margin-top: 0;
}
